.card-enter {
	opacity: 0;
	transform: translate(0px, -100px);
}

.card-enter-active {
	opacity: 1;
	transform: translate(0px, 0px);
	transition: all 250ms ease-in-out;
}

.card-exit {
	opacity: 1;
	transform: translate(0px, 0px);
}

.card-exit-active {
	opacity: 0;
	transform: translate(0px, -100px);
	transition: all 250ms ease-in-out;
}
